<div class="flex justify-center items-center h-full">
    <div class="max-w-md w-full p-6 space-y-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center">Agregar finca para alquiler</h1>
        <form [formGroup]="sellForm" (ngSubmit)="handleSubmit()">
            <div class="space-y-4">
                <div>
                    <label for="type" class="text-gray-600 block">Tipo</label>
                    <input type="text" name="type" formControlName="type" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="sellForm.get('type')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('type')?.errors?.['required']">
                            ¡Se requiere tipo!
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="location" class="text-gray-600 block">Ubicación</label>
                    <input type="text" name="location" formControlName="location" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- password error handling -->
                    <div *ngIf="sellForm.get('location')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('location')?.errors?.['required']">
                            ¡Se requiere ubicación!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="imageUrl" class="text-gray-600 block">ImageUrl</label>
                    <input type="text" name="imageUrl" formControlName="imageUrl" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- repeatPassword error handling -->
                    <div *ngIf="sellForm.get('imageUrl')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('imageUrl')?.errors?.['required']">
                            ¡Se requiere imageUrl!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="description" class="text-gray-600 block">Descripción</label>
                    <input type="text" name="description" formControlName="description" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- repeatPassword error handling -->
                    <div *ngIf="sellForm.get('description')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('description')?.errors?.['required']">
                            ¡Se requiere una descripción!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="area" class="text-gray-600 block">Área</label>
                    <input type="number" name="area" formControlName="area" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- repeatPassword error handling -->
                    <div *ngIf="sellForm.get('area')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('area')?.errors?.['required']">
                            ¡Se requiere un área!
                        </div>
                    </div>
                </div>

                <div>
                    <label for="price" class="text-gray-600 block">Precio</label>
                    <input type="number" name="price" formControlName="price" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- repeatPassword error handling -->
                    <div *ngIf="sellForm.get('price')?.touched" class="text-red-500">
                        <div *ngIf="sellForm.get('price')?.errors?.['required']">
                            ¡Se requiere precio!
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn bg-gray-200 mt-6 w-full">Agregar</button>
            
        </form>
    </div>
</div>