<div class="flex justify-center items-center h-full">
    <div class="max-w-md w-full p-6 space-y-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold text-center">Ingrese a su cuenta</h1>
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div class="space-y-4">
                <div>
                    <label for="email" class="text-gray-600 block">Correo electrónico</label>
                    <input type="text" name="email" formControlName="email" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- email error handling -->
                    <div *ngIf="loginForm.get('email')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('email')?.errors?.['required']">
                            ¡Correo electronico es requerido!
                        </div>
                        <div *ngIf="loginForm.get('email')?.errors?.['email']">
                            ¡El correo no es válido!
                        </div>
                    </div>
                </div>
                
                <div>
                    <label for="password" class="text-gray-600 block">Contraseña</label>
                    <input type="password" name="password" formControlName="password" class="form-input border border-gray-300 rounded-md p-2 w-full">
                    <!-- password error handling -->
                    <div *ngIf="loginForm.get('password')?.touched" class="text-red-500">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']">
                            ¡Se requiere contraseña!
                        </div>
                        <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            ¡Contraseña demasiado corta!
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="text-red-500">
                        {{errorMessage}}
                    </div>
                </div>
            </div>

            <button class="btn bg-gray-200 mt-6 w-full">Iniciar sesión</button>
            
            <p class="text-center text-gray-600 mt-4">¿No tienes una cuenta? <a routerLink="/register" class="text-blue-500 hover:text-blue-700">Registrar</a></p>
        </form>
    </div>
</div>